@media only screen and (max-width: 1950px) {
    .home__content {
        flex-basis: 50%;
        margin-top: 4rem;
        margin-left: 20rem;
    }

    .home__h1{
        font-size: 5rem;
    }

    .home__span {
        font-size: 5.5rem;
    }

}


@media only screen and (max-width: 1540px) {
    .home__h1{
        font-size: 3.8rem;
    }

    .projects__container {
        padding: 0rem 2.5rem;
    }

    .home__content {
        margin-left: 15rem;
    }

    .skills__link-image {
        margin-left: 0rem;
    }

    .projects__container {
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    }
}

@media only screen and (max-width: 1375px) {
    .skills__img {
        height: 650px;
        width: 650px;
    }
}


@media only screen and (max-width: 1320px) {
    header {
        padding: 0 5rem;
    }

    .skills__subtitle {
        font-size: 1.8rem;
    }

    .skills__img {
        height: 600px;
        width: 600px;
    }

    .skills__tecnologies {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1290px) {
    .home__h1{
        font-size: 3.8rem;
    }

    .home__description {
        font-size: 1.5rem;
    }

    .home__logo {
        width: 400px;
        height: 400px;
    }

    .skills__tecnologies {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1180px) {
    .home__h1{
        font-size: 3.2rem;
    }

    .home__description {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .home__logo {
        width: 375px;
        height: 375px;
    }

    .skills__img {
        height: 500px;
        width: 500px;
    }

    .skills__tecnologies {
        margin-top: 0;
    }
    
}



@media only screen and (max-width: 1100px) {
    header {
        padding: 0 3rem;
    }

    .about__container {
        flex-direction: column;
    }

    .certificate__group:hover,
    .experience__group:hover {
        transform: scale(1.02);
    }

    .skills__img {
        height: 400px;
        width: 400px;
    }

    .skills__tecnologies {
        margin-top: 0;
    }

}

@media only screen and (max-width: 1020px) {

    .certificate__container, .experience__container {
        padding: 2rem 4rem;
    }

    .skills__subtitle {
        font-size: 1.8rem;
    }

    .project__icon-link {
        display: block;
    }
}



@media only screen and (max-width: 940px) {
    .layout__header {
        position: relative;
        z-index: 99;       
    }

    .home__content .btn {
        margin-left: auto;
        margin-right: auto;
    }
     
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 3rem;
        height: 0.3rem;
        background-color: var(--color-principal);
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 90px;
        right: 0;
        left: 0;
        width: 100vw;
        background-color: var(--color-secondary);
        transition: all 500ms ease-in;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 8rem auto 0 auto;
        text-align: center;
        transition: all 200ms ease-out;
        opacity: 0;
    }

    .layout__home {
        position: relative;
        z-index: 5;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 1.2rem;
    }

    .layout__home {
        flex-direction: column;
        flex-direction: column-reverse;
        padding: 3rem 3rem;
        padding-bottom: 5rem;
        margin-top: 2rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .home__content {
        margin-top: 1rem;
        margin-left: 0rem;
    }

    .home__description {
        font-size: 1.8rem;
        font-weight: 500;
    }

    .home__h1{
        font-size: 3.5rem;
    }

    .skills__img {
        display: none;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact__contright {
        padding: 2rem 0rem;
    }

    .contact__contleft {
        padding: 2rem 0rem;
    }
}

@media only screen and (max-width: 800px) { 

    .contact__subtitle {
        font-size: 1.8rem;
    }

    .contact__description {
        font-size: 1.4rem;
    }

    .contact__number {
        font-size: 1.8rem;
    }

}

@media only screen and (max-width: 660px) { 

    .contact__description {
        font-size: 1.3rem;
        white-space: wrap;
        margin-left: -2rem;
        
    }

    .contact__number {
        font-size: 1.8rem;
        white-space: nowrap;

    }


}



@media only screen and (max-width: 620px) {
    .home__h1{
        font-size: 2.8rem;
    }

    .home__description {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .home__logo {
        margin-top: 1rem;
        width: 300px;
        height: 300px;
    }

    .skills__subtitle {
        font-size: 1.7rem;
    }

    .projects__subtitle {
        font-size: 1.8rem;
    }

    .footer-icons {
        gap: 2rem;
    }

    .footer__icon {
        font-size: 1.8rem;
    }

    .footer__description {
        font-size: 1.4rem;
    }
    
}

@media only screen and (max-width: 555px) {
    
    .skills__title span {
        font-size: 6rem;
    }

    .skills__subtitle {
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 450px) {
    .home__h1{
        font-size: 2.3rem;
        margin-top: 1rem;
    }

    .home__span {
        font-size: 4rem;
    }

    .home__content .btn {
        margin-left: auto;
        margin-right: auto;
    }
    .socials {
        margin-top: 1rem;
    }
    .home__content .image img {
        margin-top: -12rem;
    }
    .home__content span {
        align-items: center;
        justify-content: center;
    }

    .certificate__container, .experience__container {
        justify-content: center;
        text-align: left;
        padding: 2rem 2rem;
    }

    .certificate__title, .experience__job {
        font-size: 1.8rem;
    }

    .certificate__description, .experience__data {
        font-size: 1.4rem;
    }

    .experience__description {
        font-size: 1.4rem;
    }

    .projects__container {
        padding: 0rem 1rem;
    }

    .projects__box {
        max-width: 370px;
    }

    .skills__title span {
        font-size: 5rem;
    }

    .skills__subtitle {
        font-size: 1.1rem;
        white-space: wrap;
    }

    .contact__description {
        font-size: 1rem;
        white-space: wrap;
        margin-left: -4rem;
        
    }

    .contact__number {
        font-size: 1.8rem;
        white-space: nowrap;
        margin-left: -1rem;
    }

    .footer-icons {
        gap: 1.2rem;
    }

    .footer__icon {
        font-size: 1.8rem;
    }

    .footer__description {
        font-size: 1.3rem;
    }

    .contact__contright {
        font-size: 0.9rem;
        white-space: wrap;
    }
    
    .projects__title,
    .about__header-h1, 
    .contact__title {
        font-size: 5.5rem;
    }

    .certificates__title,
    .experiences__title {
        font-size: 3.3rem;
    }

    .skills__subtitle {
        font-size: 0.8rem;
        white-space: nowrap;
        display: none;
    }

    .skills__container-image {
        padding: 2.5rem;
    }
}


@media only screen and (max-width: 395px) {

    .projects__container {
        padding: 0rem 0rem;
    }

    .projects__box {
        max-width: 340px;
    }

    .skills__subtitle {
        font-size: 0.8rem;
        white-space: nowrap;
        display: none;
    }

    .skills__container-image {
        padding: 2.5rem;
    }

    .contact__description {
        font-size: 1rem;
        white-space: wrap;
        margin-left: -4rem;
        
    }

    .contact__number {
        font-size: 1.5rem;
        white-space: nowrap;
        margin-left: -1rem;
    }

    .footer-icons {
        gap: 1rem;
    }

    .footer__icon {
        font-size: 1.5rem;
    }

    .footer__description {
        margin-top: 0.2rem;
        font-size: 1.2rem;
    }

    .projects__title,
    .about__header-h1, 
    .contact__title {
        font-size: 5.5rem;
    }

    .certificates__title,
    .experiences__title {
        font-size: 3.3rem;
    }

}


@media only screen and (max-width: 379px) {

    .projects__box {
        max-width: 300px;
    }

    .contact__description {
        font-size: 0.9rem;
        white-space: wrap;
        margin-left: -3rem;
    }

}
