/* VARIABLES */
:root{
    --color-principal: #ffffff;
    --color-secondary: #151C24;
    --color-tertiary: #01A58F;
    --color-text: #343435;
    --color-bg-about: #4d4d4d;
    --color-bg-contact: #e7e7e7;
}

/* ESTILOS GENERALES */
html{
    font-size: 62.5%; /* EQUIVALLETNE A 10px */
    overflow-x: hidden;
    
}

html::-webkit-scrollbar {
  width: 1.2rem;
  border-radius: 5px;
}
html::-webkit-scrollbar-track {
  background: #151C24;
}
html::-webkit-scrollbar-thumb {
  background: #01A58F;
  border-radius: 5px;
}


body{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

/* ESTRUCTURA */
.layout {
    width: 100%;
    height: 100%;
}


/* ESTILOS CABECERA */
header {
    width: 100%;
    height: 9.5rem;
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    
}
.navbar__logo-link{
    width: 80px;
    height: 80px;  
}

.hamburger {
    display: none;
    
}

.nav-bar ul {
    display: flex;
    
}

.nav-bar ul li a {
    display: block;
    color: var(--color-principal);
    font-size: 2rem;
    padding: 1rem 2.5rem;
    border-radius: 50px;
    transition: all 200ms ease-out;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    background-color: var(--color-tertiary);
}

.nav__item {
    opacity: 0;
    transform: translateX(50px); 
    transition: opacity 0.5s, transform 0.5s;
}
 

@keyframes fadeInRight1 {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.nav__item:nth-child(1) {
    animation: fadeInRight1 0.5s ease-out 0.1s forwards;
}

.nav__item:nth-child(2) {
    animation: fadeInRight1 0.5s ease-out 0.2s forwards;
}

.nav__item:nth-child(3) {
    animation: fadeInRight1 0.5s ease-out 0.3s forwards;
}

.nav__item:nth-child(4) {
    animation: fadeInRight1 0.5s ease-out 0.4s forwards;
}

.nav__item:nth-child(5) {
    animation: fadeInRight1 0.5s ease-out 0.5s forwards;
} 


/* ESTILOS INICIO */
.layout__home {
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    z-index: 99;
    position: relative;
    align-items: center;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home__content {
    display: block;
    flex-basis: 50%;
    margin-top: 4rem;
    margin-left: 10rem;
    position: relative;
    z-index: -1;
}

.home__span:hover {
    cursor: pointer;
}

.home__logo {
    display: block;
    overflow: hidden;
    padding: 1rem 1rem;
    position: relative;
    z-index: -1;
}

.home__logo-img {
    border-radius: 200px;
    pointer-events: none;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}


.home__h1 {
    color: var(--color-secondary);
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}


.home__span {
    color: var(--color-tertiary);
    font-size: 4.5rem;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    animation: slideInDown 0.6s ease-out 0.4s forwards;
}

@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.socials {
    position: relative;
    margin-top: 1rem;
  }
  .socials .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .socials .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
  }
  .social-icons a {
    font-size: 2rem;
    display: inline-block;
    line-height: 44px;
    color: var(--color-principal);
    background-color: var(--color-secondary);
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  .social-icons a:hover,
  .social-icons a.github:hover,
  .social-icons a.twitter:hover,
  .social-icons a.linkedin:hover,
  .social-icons a.instagram:hover {
    color: var(--color-principal);
    background-color: var(--color-tertiary);
  }

  .home__content .btn {
    width: max-content;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 4em;
    transition: 0.5s;
    color: #fff;
    background: var(--color-tertiary);
    box-shadow: 0px 5px 18px rgba(0, 129, 101, 0.6);
    font-family: "Nunito", sans-serif;
  }

  .home__content .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .home__content .btn:hover {
    background: #007a6a;
  }
  .home__content .btn:hover i {
    transform: translateX(5px);
  }


/* ESTILOS SOBRE MI */

.layout__about {
    width: 100%;
    height: 100%;
    background-color: #151C24;
    background-image:linear-gradient(to bottom, transparent 40%, #151C24 100%), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%2301a58f' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2300473e' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23019c87' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23004038' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23019480' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23003a33' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23018b79' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%2300332d' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23018271' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23002d27' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23017a6a' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23002722' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-size: cover;
    padding-bottom: 5rem;
}

.about__header {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 2.5rem;
}

.about__header-h1,
.projects__title,
.contact__title {
    font-size: 7rem;
    font-weight: 500;
    color: var(--color-principal);
    transition: all 300ms ease-in-out;
    border-bottom: 3px solid transparent;
}

.about__header-h1:hover,
.projects__title:hover,
.contact__title:hover {
    color: var(--color-tertiary);
    border-bottom: 3px solid var(--color-tertiary);
    cursor: pointer;
    
}

.certificates__title,
.experiences__title {
    display: block;
    text-align: center;
    color: var(--color-principal);
    font-size: 4rem;
    font-weight: 500;
    transition: all 200ms ease-in;
}

.certificates__title:hover,
.experiences__title:hover {
    color: var(--color-tertiary);
    cursor: pointer;
}

.about__container {
    display: flex;
    flex-direction: row;
    
}

.about__certificates,
.about__experiences {
    display: block;
    flex-basis: 50%;
    color: var(--color-principal);
    padding: 4rem 4rem;
}

.experiences__icon,
.certificates__icon {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: var(--color-principal);
    padding: 1rem 1rem;
    padding-bottom: 3rem;
}

.certificate__container {
    display: block;
    justify-content: center;
    text-align: left;
    padding: 2rem 8rem;
}

.experience__container {
    display: block;
    justify-content: center;
    padding: 2rem 8rem;
}


.certificate__group,
.experience__group {
    background-color: var(--color-bg-about);
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(241, 241, 241, 0.2);
    transition: all 300ms ease;
}

.certificate__group:hover,
.experience__group:hover {
    transform: scale(1.05);
}

.experience__job,
.certificate__title {
    color: var(--color-tertiary);
    font-size: 2.2rem;
}

.experience__job,
.experience__data {
    margin-bottom: 0.5rem;
}

.experience__description,
.certificate__description {
    font-size: 1.5rem;
    
}

.certificate__title {
    margin-bottom: 1rem;
}

.certificate__idiomas {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 6rem;
}

/* ESTILOS HABILIDADES */

.layout__skills {
    width: 100%;
    background-color: var(--color-secondary);
}

.skills__container {
    display: flex;
    flex-direction: row;
}

.skills__img {
    width: 50%; 
    height: 700px;
    width: 700px;
    padding: 1rem 1rem; 
}

.skills__link-image {
    margin-left: 10rem;
}

.skills__title {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 7rem;
    font-weight: 500;
    color: var(--color-principal);   
    max-width: 500px;
    margin: 0 auto; 
}

.skills__subtitle {
    margin: 0 auto;
    font-size: 2.1rem;
    color: var(--color-principal);
}

.skills__title span {
    margin: 0 auto;
    transition: all 300ms ease-in-out;
    border-bottom: 3px solid transparent;
}

.skills__title:hover span {
    color: var(--color-tertiary);
    border-bottom: 3px solid var(--color-tertiary);
    cursor: pointer;

}

.skills__tecnologies {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;   
    padding: 4rem 2rem;
    margin-top: 10rem;
} 

.skills__container-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 3.5rem;
}


.skill__img {
    transition: transform 500ms ease;
}

.skill__img:hover {
    transform: rotate(360deg);
}

/* ESTILOS PROYECTOS */
.layout__projects {
    width: 100%;
    background-color: var(--color-secondary);
    padding-bottom: 5rem;
}

.projects__header {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2.5rem;
}

.projects__title {
    margin-top: 5rem;
}

.projects__subtitle {
    margin: 0 auto;
    font-size: 2.1rem;
    font-weight: 600;
    padding: 4.5rem;
    color: var(--color-principal);
    text-align: center;
}

.projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
    grid-gap: 20px;
}

.projects__box {
    position: relative;
    width: 100%;
    max-width: 450px;
    margin: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.3);
    border-radius: 2rem;
}

.projects__img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.project__description {
    margin-top: 0.5rem;
}

.project__icons {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}

.project__icon-link:hover .project__icon {
    color: var(--color-tertiary);

}

.project__icon {
    margin-top: 3rem;
    font-size: 3rem;
    color: var(--color-principal);
    transition: all 300ms ease-in-out;
}

.project__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; 
    transition: opacity 300ms ease-in-out;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects__box:hover .project__layer {
    opacity: 1;
}

.project__title,
.project__description,
.projects__button {
    color: var(--color-principal); 
    transition: all 300ms ease;
}

.project__title:hover {
    color: var(--color-tertiary);
    cursor: pointer;
}

.project__description--ionic {
    font-size: 1.4rem;
    color: var(--color-principal); 
    transition: all 300ms ease;
    margin-top: 0rem;
}

.project__icons--ionic {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2rem;
}


/* ESTILOS CONTACTO */
.layout__contact {
    width: 100%;
    padding: 0rem 8rem;
    padding-bottom: 8rem;
    background-color: var(--color-secondary);
}

.contact__header {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2.5rem;
}

.contact__title {
    color: var(--color-principal);
}

.contact__main {
    display: block;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}


.contact__subtitle {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    color: var(--color-principal);
}


.contact-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(19, 19, 19);
    border-radius: 20px;
    max-width: 800px; 
    margin: 0 auto;
    padding: 1rem 1rem;
    padding-right: 3rem;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 500ms linear;
    background-color: var(--color-principal);
}

.contact-container:hover {
    transform: scaleY(1.08);
}

.contact__contleft,
.contact__contright {
    width: 50%;
    padding: 4rem 4rem;
    
}

.contact__icon {
    font-size: 4rem;
    margin-bottom: 2.5rem;
    transition: all 300ms ease-in-out;
    
}

.contact__icon:hover {
    cursor: pointer;
    color: var(--color-tertiary);
}


.contact__number:hover,
.contact__description:hover {
    color: var(--color-tertiary);
    transform: scale(1.2);

}

.contact__number {
    font-size: 2rem;
    transition: all 300ms ease-in-out;
}

.contact__description {
    font-size: 1.8rem;
    transition: all 300ms ease-in-out;

}


/* ESTILOS FOOTER */

.layout__footer {
    width: 100%;
    background-color: #0f141a;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4rem 4rem;
}


.footer__description {
    font-size: 1.8rem;
    color: var(--color-principal);
    transition: all 300ms ease-in-out;
    border-bottom: 3px solid transparent;
}

.footer__description:hover {
    border-bottom: 2px solid var(--color-tertiary);
    cursor: pointer;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    color: var(--color-principal);
}

.footer__icon {
    font-size: 2.2rem;
    transition: all 300ms linear;
}

.footer__icon:hover {
    color: var(--color-tertiary);
}
